[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "static/figures"]
	path = static/figures
	url = https://github.com/Feng-Zhang/figures.git
